span {
    font-weight: 700;
}

.player-profile-container {
    background-color: var(--color-surface-lowest);
    display: flex;
    width: 100%;
    background-color: var(--color-surface-lowest);
    overflow: hidden;
}

.profile-sidebar {
    width: 25vw;
    background-color: var(--color-surface-low);
    padding: var(--space-lg);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.profile-image-container {
    width: 100%;
    height: 350px;
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
    margin-bottom: var(--space-base);
    overflow: hidden;
}

.profile-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.player-profile-name {
    margin-bottom: var(--space-base);
    text-transform: uppercase;
}

.player-profile-position {
    margin-bottom: var(--space-sm);
}

.player-profile-team {
    margin-bottom: var(--space-sm);
}

.player-profile-age {
    margin-bottom: var(--space-sm);
}

.social-btn-container {
    display: grid;
    max-width: 40px;
    background-color: var(--color-surface-lowest);
}

.social-btn {
    color: var(--color-on-primary);
    text-decoration: none;
    font-weight: 700;
}

.profile-gallery {
    min-height: 100vh;
    display: grid;
    gap: var(--space-lg);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 400px;
    overflow-y: auto;
    padding: var(--space-lg);
}

.profile-gallery-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.gallery-item {
    background-color: var(--color-primary); 
    width: 100%;
    height: 100%;
}

.gallery-item img {
    display: block;
}

.player-profile-footer-section {
    margin-top: var(--space-lg);
}

@media (max-width: 820px) {

    :root {
        --space-base: 16px;
    }

    .player-profile-container {
        flex-direction: column;
    }
    .profile-sidebar {
        width: auto;
    }
    .profile-image-container {
        width: 172px;
        height: 162px;
        flex-shrink: 0;
        aspect-ratio: 1 / 1;
        margin-bottom: var(--space-base);
        overflow: hidden;
        align-self: center;
    }
    .player-profile-name {
        align-self: center;
    }

    .player-profile-footer-section {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .profile-gallery {
        grid-template-columns: 1fr;
    }
}